
<h1>Listing Countries</h1>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipes.each do |book| %>
      <tr>
        <td><%= book.country %></td>
        <td><%= book.points %></td>
    <% end %>
  </tbody>
</table>
