<% provide(:title, 'Sign up') %>

  <div class="container">

    <div class="row justify-content-md-center">
    <%= bootstrap_form_for(@user) do |f| %>
      <%= f.email_field :email %>
      <%= f.password_field :password %>
      <%= f.submit "Log In" %>
    <% end %>
  </div>
</div>
