<!-- <style> body { background-image: url("/assets/fond_index.jpg"); background-position: center center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-color: #999; } </style> -->
<!-- text-scroll -->
<div class="container">
  <div class="content">
    <div class="content__container">
      <p class="content__container__text">
        Impossible is
      </p>
      <ul class="content__container__list">
        <li class="content__container__list__item">possible</li>
        <li class="content__container__list__item">nothing</li>
        <li class="content__container__list__item">not a fact</li>
        <li class="content__container__list__item">just a word.</li>
      </ul>
    </div>
  </div>
  <!-- Lorem ipsu -->
  <p class="text-banner">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut venenatis porta est in varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>
</div>

<!-- box -->
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-offset-1 col-md-10">
      <div class="mainbox-container">
        <div class="row">
          <div class="col">
            <div class="box">
              <img class="flag" src="/assets/frenchflag.svg" alt="France"/>

              <img class="flag" src="/assets/allemagneflag.svg" alt="allemagne"/>
            </div>
          </div>
          <div class="col">
            <div class="box">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col">
            <div class="box">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col">
            <div class="box">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<video autoplay="autoplay" loop="loop" id="video-background" muted="muted" plays-inline="plays-inline">
  <source src="/assets/Nike - Write the Future Commercial.mp4" type="video/mp4">
</video>
