<style>
  body {
    background-image: url("/assets/fond_index.jpg");
    position: fixed;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
  }
</style>

<h1 class='text-title'>Sport Korner</h1>

<div class="col-md-offset-1 col-md-10">
  <div class="background-container">
    <div class="col-md-offset-2 col-md-2">
      <div class="registrationform">
        <form class="form-horizontal">
          <fieldset>
            <h2>
              ipsum quia dolor sit amet, consectetur, adipisci velit...
            </h2>

          </fieldset>
        </form>
      </div>
    </div>
    <div class="col-md-2">
      <div class="registrationform">
        <form class="form-horizontal">
          <fieldset>
            <i class="fa fa-lock" aria-hidden="true"></i>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="col-md-2">
      <div class="registrationform">
        <form class="form-horizontal">
          <fieldset>
            <i class="fa fa-lock" aria-hidden="true"></i>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="col-md-2">
      <div class="registrationform">
        <form class="form-horizontal">
          <fieldset>
            <i class="fa fa-lock" aria-hidden="true"></i>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
