h1, .text-title {
  color: red;
  padding: 10px;
  margin-top: 50px;
  padding-left: 400px;
  font-family: 'Racing Sans One', cursive;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 14px 11px 34px -4px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 14px 11px 34px -4px rgba(0, 0, 0, 0.54);
  box-shadow: 14px 11px 34px -4px rgba(0, 0, 0, 0.54);
}

.background-container {
  margin-top: 20px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -webkit-box-shadow: 14px 11px 34px -4px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 14px 11px 34px -4px rgba(0, 0, 0, 0.54);
  box-shadow: 14px 11px 34px -4px rgba(0, 0, 0, 0.54);
  position: absolute;
}

.registrationform {
  margin-top: 400px;
  padding: 30px;
  font-size: 100px;
  background: rgba(255, 255, 255, 0.5);
  color: #000000 !important;
  border-radius: 10px;
  -webkit-box-shadow: 14px 11px 34px -4px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 14px 11px 34px -4px rgba(0, 0, 0, 0.54);
  box-shadow: 14px 11px 34px -4px rgba(0, 0, 0, 0.54);
}

input, textarea {
  color: #FFF;
}

.control-label {
  color: #FFFFFF;
}

.checkbox {
  color: #F7F7F7;
}

.radio {
  color: #F7F7F7;
}

legende {
  text-align: left;
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 26px;
}

textarea.form-control {
  border-style: none none dotted none;
  border-width: 1px;
  border-color: #FFFFFF !important;
  color: #fff;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

textarea, textarea.form-control {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 30px;
  color: #fff;
}

input[type="text"]:focus, textarea:focus, textarea.form-control:focus {
  outline: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type="text"]:-moz-placeholder, textarea:-moz-placeholder, textarea.form-control:-moz-placeholder {
  color: #999999;
}

input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder {
  color: #999999;
}

input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder {
  color: #999999;
}
